@charset "UTF-8";
body{
    margin:0px;
	padding: 0px;
    font-family:sans-serif;
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
ul{
    list-style:none;
}
a{
    text-decoration: none;
}
nav{
	display: flex;
    vertical-align: auto;
	align-items: center;
	box-shadow: 0px 2px 10px rgb(156, 8, 255);
	position: fixed;
    justify-content:space-around;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 1;
	background-color: #1a1717;
}
nav ul {
    list-style-type:none;
    margin: 0px 0px;
    padding: 5px;
    overflow: hidden;
    border-radius: 30px;
    background-color: #0a0a0a;
  }
.contact{
    float: right;
    color: rgb(245, 237, 237);   
}
  li {
    float:left;
    margin: 0px 82px;
} 
nav li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px;
    text-decoration: none;
    letter-spacing: 1px;
  } 
li a:hover {
    background-color: #5f28e0;
}
section{
    position:relative;
    width:100%;
    height:100vh;
    background:linear-gradient(180deg, #0081ff, #ff137d), url(img/brain.jpg);
    background-blend-mode: screen;
    background-size:cover;
}
section .content{
    position: relative;
    max-width:600px;
    justify-content: center;
    align-items: center;
    padding-top: 320px;
    
}
section .content p{
    font-style: italic;
    background:linear-gradient(180deg, #ae7cff, #cd4fff);
    font-weight:1px;
    color: #ffffff;
    background-blend-mode: screen;
    align-items: center;
    padding-left: 15px;
    justify-content: center;
    border-radius: 30px;
}
section .content p:hover{
    background:linear-gradient(180deg, #000000, #b700ff);
    color:rgb(255, 208, 0);
    box-shadow:0px 7px 10px rgb(4, 183, 253);
}
section .wave{
    position: absolute;
    width:100%;
    height:143px;
    background:url(img/wave.png);
    bottom:0;
    left:0;
    animation:animate 10s linear infinite;
    -webkit-animation:animate 10s linear infinite;
}
@keyframes animate
{
    0%
    {
        background-position:0;
    }
    100%
    {
        background-position:1366px;
    }
}
#skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    margin:auto auto 50px auto;
    background:linear-gradient(180deg, #0081ff, #ff137d), url(img/design.jpg);
    margin-top: 350px;
    padding:100px;
}
.skill-text{
    width:400px;
    margin-left: 0px;
}
.skill-heading span{
    color:#dadd0f;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1rem;
}
.skill-heading h2{
    color: #1c3548;
    font-size: 3.3rem;
    margin:0px;
    font-weight: 400;
    letter-spacing: 1px;
}
.s-box-container{
    margin-top: 30px;
}
.skill-box{
    display: flex;
    margin: 25px 0px;
}
.s-box-icon{
    margin-right:12px;
}
section .s-box-icon i{
    width:40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f0f0f;
    font-size: 1.1rem;
}
.s-box-text strong{
    color:#0f0f0f;
    margin: 0px;
    font-size: 0.9rem;
    font-weight: 600;
}
.s-box-text p{
    color:#06fcc7;
    font-size: 1rem;
}
.s-box-text p:hover{
    color:#fc0612;
}
.fa-html5{
    color:#e06061;
}
.fa-css3{
    color:#e06061;
}
.fa-code{
    color:#f98231;
}
.fa-html5:hover{
    color:#3600fa;
}
.fa-css3:hover{
    color:#3600fa;
}
.fa-code:hover{
    color:#3600fa;
}
#education{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    margin:auto auto 50px auto;
    background:linear-gradient(180deg, #0081ff, #ff137d), url(img/design.jpg);
    margin-top: 350px;
    padding:100px;
}
.edu-text{
    width:400px;
    margin-left: 0px;
}
.edu-heading h2{
    color: #1c3548;
    font-size: 3.3rem;
    margin:0px;
    font-weight: 400;
    letter-spacing: 1px;
}
.edu-box-container{
    margin-top: 30px;
}
.edu-box{
    display: flex;
    margin: 25px 0px;
}
.edu-box-icon{
    margin-right:12px;
}
section .edu-box-icon i{
    width:40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f0f0f;
    font-size: 1.1rem;
}
.edu-box-text strong{
    color:#0f0f0f;
    margin: 0px;
    font-size: 0.9rem;
    font-weight: 600;
}
.edu-box-text p{
    color:#06fcc7;
    font-size: 1rem;
}
.edu-box-text p:hover{
    color:#fc0612;
}
.fa-book{
    color:#e06061;
}
.fa-university{
    color:#e06061;
}
#achievements{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    margin:auto auto 50px auto;
    background:linear-gradient(180deg, #0081ff, #ff137d), url(img/design.jpg);
    margin-top: 350px;
    padding:100px;
}
.edu-heading h2:hover{
    color: #fa0000;
}
.image img{
    width:800px;
    height:400px;
}
.image img:hover{
    box-shadow: 20px 20px 7px rgb(0, 0, 0);
}
#contact{
    height:100px;
    background:linear-gradient(180deg, #252627, #fcfbfb)
}
footer{
    padding: 10px;
    text-align: left;
    color: rgb(87, 0, 250);
    font-weight: bold;
    background:linear-gradient(180deg, #fcfcfc, #2e2b2b)
}
footer h2:hover{
    color:red;
}
footer p:hover{
    color:red;
}
.rac{
    float:right;
    margin-top: 2px;
}
.rac img{
    border-radius: 100px;
}
.rac img:hover{
    box-shadow: 0px 20px 7px rgb(140, 3, 252);
}
th{
    padding:20px;
}
th a{
    width:40px;
    height: 40px;
}
.fa-linkedin-square{
    font-size: 40px;
    color:rgb(255, 0, 255);
}
.fa-github-square{
    font-size: 40px;
    color:rgb(255, 0, 255);
}
.fa-envelope-o{
    font-size: 40px;
    color:rgb(255, 0, 255);
}
.fa-linkedin-square:hover{
    color:red;
    box-shadow: 5px 10px 7px rgb(140, 3, 252);
}
.fa-github-square:hover{
    color:red;
    box-shadow: 5px 10px 7px rgb(140, 3, 252);
}
.fa-envelope-o:hover{
    color:red;
    box-shadow: 5px 10px 7px rgb(140, 3, 252);
}

